@media only screen and (min-width:1025px) and (max-width:1200px){
    
    /* header responsive css */
    
    .NavigationLogo a {
        padding: 19px 26px;
    }
    .NavigationPages {
        padding-right: 30px;
    }

}
/* small screen laptop responsive css */

@media only screen and (min-width:769px) and (max-width:1024px){

    /* header responsive css */
    .NavigationLogo {
        flex-basis: 25%;
    }
    .NavigationPages {
        flex-basis: 75%;
    }
    .NavigationPages ul li {
        margin-left: 1.5rem;
    }
    .NavigationPages ul li a {
        font-size: 1.3rem;
    }
    .NavigationLogo a {
        font-size: 19px;
        padding: 21px 20px;
    }
    .row {
        width: 90%;
    }
    .HeaderText h1 {
        font-size: 2.8rem;
    }
    .row.HeaderAfter {
        display: flex;
        align-items: center;
    }
    /* about me section responsive css */
    .About_contents {
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
    }
    .img_wrapper_box {
        margin-left: 30px;
    }
    .social-icons i {
        margin: 0px 6px;
    }
    /* Services area styles  */

    .what_box {
        width: 48%;
        margin-right: 4%;
        height: 300px;
        margin-bottom: 4%;
    }
    .what_box:nth-child(2) {
        margin-right: 0%;
    }
    .what_box:nth-child(4) {
        margin-right: 0%;
    }
    .what_box:nth-child(6) {
        margin-right: 0%;
        margin-top:0%;
    }
    .what_box:nth-child(3) {
        margin-right: 4%;
    }
    .what_box:nth-child(4) {
        margin-right: 0%;
        margin-top: 0%;
    }
    .what_box:nth-child(5) {
        margin-top: 0%;
    }
    .What_box_wrapper {
        margin-bottom: 20px;
    }

    /* my skills section responsive css */
    .counter_items {
        width: 90%;
    }
    /* side projects section responsive css */

    .s_l_f_W_right ul li a {
        font-size: 1.5rem;
    }
    .s_l_f_W_left a:nth-child(2) {
        margin-left: 0px;
    }
    /* What clients say with me section (RWD) css */

    .client_say_wrapper {
        flex-direction: column;
    }
    .client_say_left {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    /* Contact ditales section (RWD) Css */

    .contact_items {
        box-shadow: 0 0 10px transparent;
    }









} 



/* ipad tablet responsive css */

@media only screen and (min-width:320px) and (max-width:768px){
    /* header responsive css */

    .row {
        width: 80%;
        position: relative;
    }
    /* mobile menu  */
    .mobile_menu i {
        display: block;
        cursor: pointer;
        background: #1dd881;
        padding: 0.5rem 1rem;
        border-radius: 0.3rem;
        font-size: 1.9rem;
    }
    .NavigationPages ul {
        display: none;
    }
    .mobile_menu {
        visibility: visible;
    }
    .NavigationLogo a {
        font-size: 20px;
    }
    #MainNav {
        padding: 0.1rem 0;
    }

    .NavigationPages ul {
        position: absolute;
        width: 100%;
        left: 0;
        top: 17px;
        background: #090000b0;
        margin: 40px auto;
        padding: 0 50px;
        text-align: center;
        border-radius: 0.8rem;
    }
 
    .NavigationPages ul li {
        display: block;
        margin-left: 0rem;
        padding: 8px 0;
        cursor: pointer;
    }
    .NavigationPages ul.submenu {
        z-index: -99999;
        opacity: 0;
    }
    .NavigationPages ul li:hover {
        background: #1dd881;
    }
    .NavigationPages ul li:hover a {
        color: #fff;
    }








    /* header responsive css */
    #Header {
        padding: 2rem 0 5rem 0;
        text-align: center;
    }
    .HeaderText {
        width: 100%;
        float: none;
        padding-top: 1rem;
    }
    .HeaderImage {
        width: 100%;
        float: none;
    }
    .HeaderImage img {
        float: none;
    }
    .row.HeaderAfter {
        padding-bottom: 70px;
        display: grid;
    }
    .HeaderImage {
        width: 100%;
        float: none;
        grid-row: 1/2;
    }
    .HeaderText h1 span {
        font-size: 3.8rem;
    }
    .HeaderText h1 {
        font-size: 3rem;
    }

    /* About responsive css */
    .About_contents {
        padding-bottom: 120px;
        display: grid;
    }
    .content_left {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .content_right {
        width: 100%;
        float: none;
        text-align: center;
    }
    .img_wrapper_box {
        margin: 0 auto;
    }
    .social-icons {
        text-align: center;
        padding: 20px 0px;
    }
    .social-icons i {
        margin: 5px 0px;
    }
    .About_title {
        padding-bottom: 60px;
    }

    /* What i do section responsive css */

    .What_box_wrapper {
        margin-bottom: 50px;
    }
    .what_box {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    /* Skills section responsive css */
    .Skills_Controler {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #Frontend {
        margin: 1rem 0;
        padding: 1rem 1.5rem;
        font-size: 1.3rem;
    }
    #Backend {
        padding: 1rem 1.5rem;
        font-size: 1.3rem;
        margin: 1rem 5px;
    }
    #Tools {
        margin: 1rem 0;
        padding: 1rem 1.5rem;
        font-size: 1.3rem;
    }
    .counter_items {
        width: 100%;
    }

    /* Our live projects responsive css */

    .side_project_items_wrapper {
        flex-direction: column;
    }
    .side_right_images {
        flex-basis: 100%;
    }
    .side_left_contents {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .Side_left_footer_wrapper {
        flex-direction: column;
    }
    .s_l_f_W_left {
        margin-bottom: 20px;
    }
    .s_l_f_W_left a:nth-child(2) {
        margin-left: 0px;
    }
    /* Whats clients say responsive css */

    .client_say_wrapper {
        flex-direction: column;
    }
    .client_say_left {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .client_say_right {
        flex-basis: 100%;
    }

    /* contacts ditales responsive css */

    .contact_details_wrapper {
        flex-direction: column;
    }
    .contact_items {
        flex-basis: 100%;
        padding: 2rem 0;
        box-shadow: 0 0 10px transparent;
        margin-bottom: 20px;
    }

    /* mobile view responsive design is complead */




}